---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}

    {% assign months = "Jan|Fev|Mar|Abr|Mai|Jun|Jul|Ago|Set|Out|Nov|Dez" | split: "|" %}
    {% assign m = post.date | date: "%-m" | minus: 1 %}
    {% assign day = post.date | date: "%d" %}
    {% assign month = months[m] %}
    {% assign year = post.date | date: "%Y" %}

      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <ul class="post-meta">
          <li><span>{{ day }}/{{ month }}/{{ year }}</span></li>
          <li>{% include read_time.html %}</li>
          <li>
            <a href="{{ site.url }}{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.id }}">0</a>
            <i class="fa fa-comments-o"></i>
          </li>
        </ul>
        <p>{{ post.excerpt }} <a href="{{ post.url }}">continuar...</a></p>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">assine <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

{% include social/disqus-comment.html %}
